@tailwind base;
@tailwind components;

body {
  font-family: "Poppins", sans-serif;
}
.light-green {
  color: #22b07d;
}

.gray-green {
  color: #a3b18a;
}

.hamburger-menu {
  max-height: 0;
  transition: max-height 1s;
  overflow: hidden;
}

.hamburger-menu.transition-max-h {
  max-height: 7rem;
  transition: max-height 1s ease-in-out;
}

.bg-light-green {
  background-color: #22b07d;
}

.container-md {
  max-width: 1140px;
  margin: 0 auto;
}

.icon:hover {
  fill: #22b07d;
  opacity: 1;
}

.cards {
  @apply w-full flex items-center rounded-xl overflow-hidden shadow-xl;
  height: 472px;
}

.h-cards {
  height: 472px;
}

.bg-green-gradient {
  background: linear-gradient(
      89.7deg,
      #88ec24 1.81%,
      rgba(255, 255, 255, 0) 99.74%
    ),
    #22b07d;
}

.h-banner {
  height: 150px;
}

.mt-100px {
  margin-top: 100px;
}

.border-light-green {
  border: solid 2px #22b07d;
  @apply rounded-xl;
}

.btn-projects {
  border: solid 1px #22b07d;
}
.btn-projects:hover {
  background-color: #22b07d;
}

@tailwind utilities;
